<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
</head>
    <body>
    <nav class="navbar background-cinza" >
        <div class="container-fluid">
            <a style="gap: 0.75rem" class="navbar-brand d-flex align-items-center" href="#">
                <img src="{{url_for('static', filename='logo1.jpg')}}" alt="" width="50" height="50" class="d-inline-block align-text-top">
                    <span>
                        Albus IT Supplies
                    </span>
            </a>
        </div>
    </nav>
    <table class="table table-striped" style="margin-top: 1rem">
        <tr style="background-color: #cbcbcb !important">
        <th></th>
            <th>Nome</th>
            <th>Referência</th>
            <th>Cor</th>
            <th>Quantidade Carrinho</th>
            <th>Preço Total</th>
        </tr>
        {% for produto in listaProdutos %}
        <tr>
            <td><img src="{{url_for('static', filename=produto['imagem'])}}" align="middle"  alt="Logo" width="100" height="100"></td>
            <td>{{produto['nome']}}</td>
            <td>{{produto['referencia']}}</td>
            <td>{{produto['cor']}}</td>
            <td>{{produto['quantidade_carrinho']}}</td>
            <td>{{produto['preco_total']}}</td>
            </tr>
        {% endfor %}
    </table>
    <div style="float:right" class="fonteCarrinho">
        <div>
            <span>Total de Itens:</span>
            <span>{{total['quant_total']}}</span>
        </div>
        <div>
            <span>Preço Total:</span>
            <span>€{{total['preco_total']}}</span>
        </div>
        <div style="margin-top:1rem">
            <form action="{{ url_for('finalizar_compra', email=email) }}" method="post">
                <button type="submit" class="btn btn-secondary">
                    Finalizar Compra
                </button>
            </form>
        </div>

    </div>
    </body>
</html>